* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {    
    font-size: 3rem;
    color: #333;
}

.Counting .plus {
    width: 100px;
    height: 40px;
    font-size: 22px;
    margin: 20px;
   border: 0;
   background-color: #004225;
   color: #fff;
   border-radius: 10px;
}
.Counting .minus {
    width: 100px;
    height: 40px;
    font-size: 22px;
    margin: 20px;
    border: 0;
    color: #fff;
    background-color: #004225;
    border-radius: 10px;
}

.Counting .zero {
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 10px;
    border: 0;
    color: #fff;
    background-color: #004225;
    border-radius: 10px;
}
.Counting span{
    font-size: 25px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Counting{
  
  margin-top: 250px;
}